<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>InSure. | Claim your insurance</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body class="bx--body">

  <div class="container intro">
    <!-- Replace "getting_started" with your code -->
    <div class="content">

      <div class="header">
        <a href="#" class="homeLink"> InSure. </a>
        <a>Insurance</a>
        <a>Banking</a>
        <a>Finances</a>
        <a>Claims</a>
        <a>Customer Care</a>
      </div>

      <h2 class="title">
        Let's get you out and </br>
        on the road, <strong>today!</strong>
      </h2>

      <div class="inputContainer">
        <div class="bx--row">
          <div class="bx--col-xs-12 bx--col-md-3">
            <div class="bx--form-item">
            <input id="nameInput" type="text" class="bx--text-input">
            <label for="nameInput" class="bx--label">Your Name</label>
          </div>
          </div>
          <div class="bx--col-xs-12 bx--col-md-3">
            <div class="bx--form-item">
            <input id="policyInput" type="text" class="bx--text-input">
            <label for="policyInput" class="bx--label">Policy Number</label>
          </div>
          </div>
        </div>
      </div>

      <div class="actionContainer">
        <button class="bx--btn bx--btn--primary"  type="button">File Claim</button>
        <button class="bx--btn bx--btn--secondary"  type="button">Manage Claim</button>
      </div>

    </div>
  </div>

  <script src="./js/index.js "></script>
  <script src="./js/carbon-components.min.js "></script>
</body>

</html>
