<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>InSure. | Claim your insurance</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body class="bx--body">

  <div class="user-container intro">
    <!-- Replace "getting_started" with your code -->
    <div class="content">

      <div class="header">
        <a href="home.html" class="homeLink"> InSure. </a>
        <a>Insurance</a>
        <a>Banking</a>
        <a>Finances</a>
        <a>Claims</a>
        <a>Customer Care</a>
      </div>

      <h2 id="title" class="title">
        Welcome back!
      </h2>

      <div class="policyInfoContainer">
        Here are your active policies. </br>
        Need another one or have questions on a policy? <a href="home.html"> Click here! </a>
      </div>

      <nav data-tabs class="bx--tabs tabs" role="navigation">
        <div class="bx--tabs-trigger" tabindex="0">
          <a href="javascript:void(0)" class="bx--tabs-trigger-text" tabindex="-1"></a>
          <svg width="10" height="5" viewBox="0 0 10 5">
            <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
          </svg>
        </div>
        <ul class="bx--tabs__nav bx--tabs__nav--hidden" role="tablist">
          <li class="bx--tabs__nav-item bx--tabs__nav-item--selected" data-target=".tab-1" role="presentation">
            <a id="tab-link-1" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-1" aria-selected="true">My Motor Policy</a>
          </li>
          <li class="bx--tabs__nav-item" data-target=".tab-2" role="presentation">
            <a id="tab-link-2" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-2" aria-selected="false">My Home Owners Policy</a>
          </li>
          <li class="bx--tabs__nav-item" data-target=".tab-3" role="presentation">
            <a id="tab-link-3" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-3" aria-selected="false">My Travel Insurance Policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="policy-info">
      <div id="tab-panel-1" class="tab-content tab-1" role="tabpanel" aria-labelledby="tab-link-1" aria-hidden="false">
        <span class="triangle" style="left: 100px"></span>
        <div class="policy bx--row">
              <div class="bx--col-xs-12 bx--col-sm-12 bx--col-md-4" style="padding: 1rem 1rem 0 3rem">
                <section class="bx--structured-list">
                  <div class="bx--structured-list-tbody">
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Policy Number</div>
                      <div class="bx--structured-list-td">123456789</div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Coverage</div>
                      <div class="bx--structured-list-td"> Full </div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Policy Agent</div>
                      <div class="bx--structured-list-td"> Rhonda P. Howard </div>
                    </div>
                    <div class="bx--structured-list-row emptyRow"> </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Vehicle Make</div>
                      <div class="bx--structured-list-td">Nissan</div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Vehicle Model</div>
                      <div class="bx--structured-list-td"> Rogue </div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Year of Make</div>
                      <div class="bx--structured-list-td"> 2012 </div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Licence Number</div>
                      <div class="bx--structured-list-td">123456789</div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">State of Registration</div>
                      <div class="bx--structured-list-td"> Texas </div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Category</div>
                      <div class="bx--structured-list-td"> Subject </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="bx--col-xs-12 bx--col-sm-12 bx--col-md-4" style="padding: 1rem 1rem 0 3rem">
                <section class="bx--structured-list">
                  <div class="bx--structured-list-tbody">
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Policy Status</div>
                      <div class="bx--structured-list-td">Active</div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Starts</div>
                      <div class="bx--structured-list-td"> 01/01/2018 </div>
                    </div>
                    <div class="bx--structured-list-row">
                      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Ends</div>
                      <div class="bx--structured-list-td"> 01/01/2018 </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="box bx--col-xs-12 bx--col-sm-12 bx--col-md-4" style="border:none;padding-top: 1rem;border-left: 1px solid #00A3FE;">
                <h2> Need additional services? </h2>
                <h3> Gotcha covered! Review all of our
                  services and coverage plans. </h3>
                <ul>
                  <li>+ Finances </li>
                  <li>+ Banking </li>
                  <li>+ Home & Property  </li>
                  <li>+ Life </li>
                  <li>+ Renters </li>
                  <li>+ Pet </li>
                  <li>+ Health </li>
                  <li>+ Natural Disaster </li>
                  <li>+ And much more! </li>
                </ul>
                <div>
                  <button class="bx--btn bx--btn--secondary"  type="button">Review Services</button>
                </div>
              </div>
              <div class="box bx--col-xs-12 bx--col-md-6" style="border:none">
                <h2> Get into an accident? </h2>
                <h3> No worries, life sometimes happens!
                  Get started on making a claim today.</h3>
                <ul>
                  <li>+ Log in to review your policy and start a claim. </li>
                  <li>+ Manage policies & claims in one space.</li>
                  <li>+ Get a response from us within 2 hours! </li>
                </ul>
                <div>
                  <button class="bx--btn bx--btn--secondary"  type="button">Make Claim</button>
                </div>
              </div>
              <div class="box bx--col-xs-12 bx--col-md-6">
                <h2> Going somewhere soon? </h2>
                <h3> Plan ahead to find the perfect travel
                  insurance for all your adventures! </h3>
                <ul>
                  <li> + Request a quote from our representatives. </li>
                  <li> + Prepare for upcoming trips with our travel map. </li>
                  <li> + Coverage for over 30 countries world-wide! </li>
                  <li> + Includes additional excursion plans. </li>
                </ul>
                <div>
                  <button class="bx--btn bx--btn--secondary"  type="button">Create Travel Plan</button>
                </div>
              </div>
        </div>
      </div>
      <div id="tab-panel-2" class="tab-content tab-2" role="tabpanel" aria-labelledby="tab-link-2" aria-hidden="true" hidden>
        <span class="triangle" style="left: 330px"></span>
        <p style="text-align: center">You don't have any house insurance.</p>
      </div>
      <div id="tab-panel-3" class="tab-content tab-3" role="tabpanel" aria-labelledby="tab-link-3" aria-hidden="true" hidden>
        <span class="triangle" style="left: 620px"></span>
        <p style="text-align: center">You don't have any travel insurance.</p>
      </div>
  </div>

  <script src="./js/index.js "></script>
  <script src="./js/carbon-components.min.js "></script>
</body>

</html>
